.info-card {
  padding: 16px;
  margin: 0;
  border-radius: 0;
}

.info-row {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.info-item {
  display: flex;
  flex-direction: column;
  //min-width: 100%;
}

.info-item label {
  font-weight: bold;
  color: var(--ion-text-color);
  margin-bottom: 4px;
  font-size: 15px;
}

.info-item p {
  font-size: 16px;
  margin: 0;
  color: var(--ion-text-color);
}
